<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- bean就是java对象，有spring创建和管理 -->
	<bean id="hello" class="com.cbt.bean.Hello">
		<property name="name" value="张三"></property>
	</bean>
</beans>